<form {{action fetchPosts subreddit on='submit'}}>
    <label>
        Subreddit: {{input value=subreddit}}
    </label>
    <button>Display Posts</button>
</form>
<ul>
    {{#each posts as |post|}}
        {{r-post model=post savePost=savePost}}
    {{/each}}
</ul>